{% set classes = {
    error: 'bg-warning text-white',
    notice: 'bg-green-50 border-green-400 text-green-800',
    info: 'bg-gray-50 border-gray-400 text-gray-800'
} %}

<div class="rounded p-4 mt-4 border {{ classes[type] }}">
    <div class="flex">
        <div class="ml-3">
            <p class="text-sm font-medium">
                {% block message %}
                    {{ message }}
                {% endblock %}
            </p>
        </div>
    </div>
</div>
