{% embed '_layouts/embeds/content-md.twig' %}
    {% block content %}
        <div class="font-bold text-xl text-warning mt-16">
            {{ 'This code is expired or invalid.'|t('members') }}
        </div>
    {% endblock %}
{% endembed %}
