{% requireLogin %}

{% embed '_layouts/embeds/content-md.twig' %}
    {% block content %}
        <div class="mt-8">
            {% include members('_includes/loggedin_user.twig') %}

            {% set settings = craft.app.plugins.plugin('members').settings %}

            {% if settings.memberTemplate %}
                <div class="my-8">
                    {% include settings.memberTemplate %}
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}
