
{% if currentUser %} {% redirect "/" %} {% endif %}

{% embed '_layouts/embeds/content-md.twig' %}
    {% block content %}
        {# Load js script for Sprig/HTMX #}
{% js craft.app.config.custom.htmxScriptUrl %}

        <div>
            {{ sprig('@members/_components/register-form') }}
        </div>
    {% endblock %}
{% endembed %}

