{% set user = user ?? null %}

{% embed members('_includes/form.twig') with {useSprig: true, action:'users/save-user', fullWidth: true} %}
    {% block content %}

        {% import '@members/_macros/forms.twig' as forms %}

        {% include members('_includes/flash.twig') with {
            successMessage: 'We created your account! Please check your email to verify your email address.'|t('members'),
            errorMessage: 'Profile could not be created'|t('members')
        } %}

        {% if not (success is defined and success) %}
            <div class="md:flex md:space-x-8">
                <div class="w-full">
                    {{ forms.textField({
                        user: user,
                        label: 'Full Name'|t('members'),
                        name: 'fullName',
                        required: true
                    }) }}
                </div>
            </div>

            <div class="md:flex md:space-x-8">
                <div class="md:w-1/2">
                    {{ forms.textField({
                        user: user,
                        label: 'Email'|t('members'),
                        name: 'email',
                        type: 'email',
                        required: true
                    }) }}
                </div>
                <div class="md:w-1/2">
                    {{ forms.textField({
                        user: user,
                        label: 'Password'|t('members'),
                        name: 'password',
                        required: true,
                        type: 'password'
                    }) }}
                </div>
            </div>


            <div class="pt-8 w-64">
                {{ forms.button('Register'|t('members'), true) }}
            </div>
        {% endif %}


    {% endblock %}
{% endembed %}


